@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@layer utilities {
    .zoom-90 {
      transform: scale(0.92);
    }
    .zoom-100 {
      transform: scale(1);
    }
    .zoom-110 {
      transform: scale(1.1);
    }
}

body{
    @apply flex flex-col content-center items-center sm:text-sm sm:p-2 sm:flex sm:items-center sm:justify-center sm:h-screen md:flex md:items-center md:justify-center md:h-screen lg:flex lg:items-center lg:justify-center lg:h-screen;
}
.dropdown{
    position: relative;
    width: 8em;
    padding: 2px 10px 2px 10px;
    margin-bottom: 20px;
    border-radius: 0 25px 0 25px;
    border: 2px solid hsl(54, 86%, 53%);
    box-shadow: 2px 2px 15px 2px;
    font-size: 17px;
    @apply bg-cyan-950 text-white;
}

.dropdown select{
    border-radius: 0 100% 0 100%;
    font-family: "Playwrite US Modern", cursive;
    font-weight: 200;
    font-size: 14px;
    padding: 0.2em;
    text-shadow: 0px 0px 5px yellow, 0px 0px 15px yellow;
    @apply bg-cyan-950 text-yellow-200 w-full rounded-md;
}
.shell{
    @apply mt-2 mb-2 text-center justify-center;
}
.text{
    @apply text-3xl mb-2;
    font-family: 'Codystar';
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.fa-x{
    position: relative;
    font-size: 4rem;
    top: 15px;
    text-shadow: 0px 0px 20px hsl(300, 94%, 34%), 0px 0px 40px hsl(300, 81%, 58%);
    @apply text-purple-500 hover:text-purple-600;
}

.fa-0{
    position: relative;
    font-size: 4rem;
    top: 15px;
    text-shadow: 0px 0px 20px hsl(150, 94%, 34%), 0px 0px 40px hsl(150, 81%, 58%);
    @apply text-green-400 hover:text-green-500;
    
}

.fa-x:hover, .fa-0:hover{
    transition:ease-in-out;
}
.changing-text{
    @apply text-slate-50 text-2xl mt-2;
    font-family: "Playwrite US Modern", cursive;
    text-shadow: 0px 0px 5px yellow, 0px 0px 15px yellow;
}
.result{
    @apply text-white;
    font-size: 16px
}

.restart{
    @apply uppercase;
    font-size: 16px;
    background-color: rgb(12, 75, 75);
    color: rgb(131, 131, 131);
    padding: 6px 7px 6px 7px;
    border-radius: 50px;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}
.restart:hover{
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr),
    0 0 40px var(--clr);
}
.restart span{
    position: relative;
    z-index: 1;
    letter-spacing: 0.1em;
}
.restart::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--clr),transparent, transparent);
    width: 100px;
    height: 100px;
    top: var(--y);
    left: var(--x);
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
}
.restart:hover::before{
    opacity: 1;
}
.restart::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(17, 63, 63, 0.8);
    border-radius: 50px;
}
#board{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.cell{
    position: relative;
    border: solid 1px white;
    width: 100px;
    height: 100px;
    @apply flex items-center justify-center;
}

.cell::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), hsl(300, 77%, 51%), hsl(275, 77%, 51%), hsl(240, 77%, 51%), hsl(120, 77%, 51%), hsl(60, 77%, 51%), hsl(0, 77%, 51%));
    animation: rotating 4s linear infinite;
}

.cell::after{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), hsl(300, 77%, 51%), hsl(275, 77%, 51%), hsl(240, 77%, 51%), hsl(120, 77%, 51%), hsl(60, 77%, 51%), hsl(0, 77%, 51%));
    animation: rotating 4s linear infinite;
    filter: blur(40px);
    opacity: 0.75;
}

.cell span{
    position: absolute;
    inset: 1px;
    background: hsl(180, 56%, 12%);
    z-index: 1;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotating {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

@keyframes glow{
    from{
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    to{
        color: gray;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}

@keyframes confetti {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    35% {
        transform: translateY(-800%) rotate(270deg);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(2000%) rotate(1440deg);
    }
}